/* PC */


/* Tren 1024px thi se chay duoc */

@media (min-width: 1024px) {}


/* Tablet */


/* Tren 740 va duoi 1023px thi tablet se chay duoc */

@media (min-width: 740px) and (max-width: 1023px) {}


/* 
    Mobile    
 */


/* Duoi 740px thi se chay duoc */

@media (max-width: 740px) {
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
}